<mat-card>
    <mat-card-title>Novo Empréstimo</mat-card-title>
    
    <form (ngSubmit)="createEmprestimo()"> 
        
        <mat-form-field>
            <input matInput placeholder="ID do Cliente" [(ngModel)]="emprestimo.clienteId" name="clienteId" type="number" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="ID do Livro" [(ngModel)]="emprestimo.livroId" name="livroId" type="number" required>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Data do Empréstimo" [(ngModel)]="emprestimo.dataEmprestimo" name="dataEmprestimo" type="date" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Previsão de Devolução" [(ngModel)]="emprestimo.dataDevolucao" name="dataDevolucao" type="date" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="emprestimo.status" name="status" required>
                <mat-option value="PENDENTE">Pendente</mat-option>
                <mat-option value="DEVOLVIDO">Devolvido</mat-option>
                <mat-option value="ATRASADO">Atrasado</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">
            Salvar
        </button>
        
        <button mat-raised-button (click)="cancel()" type="button">
            Cancelar
        </button>

    </form>
</mat-card>