<!-- src/app/client/cliente-read/cliente-read.component.html -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="clientes">
      
      <!-- cliId Column -->
      
      <!-- cliNome Column -->
      <ng-container matColumnDef="cliNome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.cliNome}} </td>
      </ng-container>
  
      <!-- cliCpf Column -->
      <ng-container matColumnDef="cliCpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.cliCpf}} </td>
      </ng-container>
  
      <!-- cliAtivo Column -->
      <ng-container matColumnDef="cliAtivo">
        <th mat-header-cell *matHeaderCellDef> Ativo </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.cliAtivo ? 'Sim' : 'Não'}} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let cliente">
          <button mat-icon-button color="primary" (click)="navigateToClienteCreate()">
            <mat-icon>add</mat-icon>
          </button>
         
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>